html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TODO List
    link(rel="stylesheet", href="/assets/css/bootstrap_5.css")
    link(rel="stylesheet", href="/assets/css/styles.css")
  body
    header
      nav.navbar.navbar-expand-lg
        .container
          a.navbar-brand(href="#") Todo
            strong List
          button.btn.btn_primary Login
          button.btn.btn_secondary SignUp
    section.container
      form#form.d-flex.flex-wrap.flex-column(action="")
        h2.title Login
        div.mt-5
          label.form__label(for="email") Email address
          input.form__input(type="email", name="email", id="email", placeholder="enter email address")
        div.mt-5
          label.form__label(for="password") Password
          input.form__input(type="password", name="password", id="password", minlength="8", placeholder="enter password")
        div.d-flex.align-self-center.mt-5
          button.btn.btn_primary Login
  script(src="assets/js/bootstrap_js.js")
  script(src="assets/js/index.js")
